<body>
  <div class="content">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="assets/img/Fit-App.png" alt="Fit-App">
        <h2>PLANES DISPONIBLES</h2>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-title">
            <h5 class="text-center" style="color: blue;">Plan Community</h5>
          </div>
          <div class="card-body text-center">
            <img class="img-card" src="assets/img/free.png" alt="Fit-App">
            <div class="card-text text-start">
              <h4>BENEFICIOS:</h4>
              <ul>
                <li>Tener rutinas personalizadas.</li>
                <li>Consejos nutricionales</li>
                <li>Definir tus metas</li>
                <li>Acceso a funcionalidades y contenido exclusivo</li>
                <!-- <li>Sin publicidad</li> -->
              </ul>
            </div>
            <a class="btn btn-primary btn-actual">PLAN ACTUAL</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-title">
            <h5 class="text-center" style="color: red;">Plan Premiun</h5>
          </div>
          <div class="card-body text-center">
            <img class="img-card" src="assets/img/premium.png" alt="Fit-App">
            <div class="card-text text-start">
              <h4>BENEFICIOS:</h4>
              <ul>
                <li>Tener rutinas gratuitas.</li>
                <li>Llevar un plan personalizado</li>
                <li>Definir tus metas</li>
                <li>Recordatorio de entrenamiento</li>
              </ul>
            </div>
            <a class="btn btn-primary btn-premium">ACTUALIZAR A PREMIUM</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
