<main class="main">
  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="container-fluid">
        <img src="assets/img/Fit-App.png" alt="Fit-App">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <h1 id="welcome" class="text-center"><b>TU PLAN ESTÁ LISTO</b></h1>
          </ul>
          <a class="btn btn-premium btn-danger" (click)="goTo('/login')">HOME</a>
          <a class="btn btn-danger btn-premium" (click)="goTo('/premium')"><b>PASATE A PREMIUM</b></a>
          <a class="btn btn-danger btn-user" (click)="goTo('/register')"><i class="fa fa-user"></i></a>
        </div>
      </div>
    </nav>
  </div>
</main>
