<main class="main">
  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="container-fluid">
        <img src="assets/img/Fit-App.png" alt="Fit-App">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <h1 id="welcome"><b>BIENVENIDO! {{ title.toUpperCase()}}</b></h1>
          </ul>
          <a class="btn btn-info btn-login" (click)="goTo('/login')" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" ><b>INGRESAR</b></a>
          <a class="btn btn-success btn-register" (click)="goTo('/register')"><b>REGISTRARSE </b></a>
        </div>
      </div>
    </nav>
  </div>
</main>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="box_one col-md-6 text-center">
        <div class="form-group">
        </div>
      </div>
      <div class="box_two col-md-4 text-center">
        <div class="form-group">
          <h4><b>El cuidado de la salud es esencial. Una plataforma virtual que ofrece entrenamiento físico personalizado para mejorar la salud y manejar el estrés diario.</b></h4>
        </div>
      </div>
    </div>
  </div>
</div>

