<div class="card">
  <div class="card-title">
  </div>
  <div class="card-body">
    <div class="row" id="first">
      <h2 class="text-center">ZONA DE OBJETIVOS</h2>
      <div class="big-box col-md-12">
        <div class="row">
            <div class="img text-center">
              <img src="assets/img/Fit-App2.png" alt="Fit-App2" >
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <a class="btn btn-primary form-control" style="background-color: #004AAD;">TODO EL CUERPO</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn-info form-control" style="background-color: #6087FA;">BRAZO</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn-info form-control" style="background-color: #6087FA;">ABDOMEN</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn form-control" style="background-color: #004AAD;">PECHO</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn form-control" style="background-color: #004AAD;">PIERNA</a>
              </div>
            </div>
        </div>
      </div>
      <div class="small-box col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <a  class="btn btn form-control" style="background-color: #6087FA;">ATRÁS</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <a class="btn btn form-control" style="background-color: #FF3131;" (click)="NextWindows()">SIGUIENTE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="second">
      <h2 class="text-center">OBJETIVO PRINCIPAL</h2>
      <div class="big-box col-md-12">
        <div class="row">
            <div class="img text-center">
              <img src="assets/img/Fit-App2.png" alt="Fit-App2">
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <a class="btn btn-info form-control btns-selec" style="background-color:#EE252C;">
                  <p class="pp">PERDER PESO</p>
                  <img src="assets/img/pesa.png" alt="" class="imgs" style="width: 40px; height: 40px;">
                </a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <a class="btn btn-info form-control btns-selec" style="background-color: #FF3131;"><p class="pp">AUMENTAR MUSCULO</p> <img src="assets/img/pesa2.png"  alt="" class="imgs" style="width: 40px; height: 40px;"></a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <a class="btn btn form-control btns-selec" style="background-color: #EE252C;"><p class="pp">MANTENERSE EN FORMA</p> <img src="assets/img/runner.png" alt="" class="imgs" style="width: 40px; height: 40px;"></a>
              </div>
            </div>
        </div>
      </div>
      <div class="small-box col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <a  class="btn btn form-control" style="background-color: #6087FA;">ATRÁS</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <a  class="btn btn form-control" style="background-color: #FF3131;">SIGUIENTE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="third" *ngIf="first">
      <h2 class="text-center">TU MOTIVACIÓN</h2>
      <div class="big-box">
        <div class="row">
            <div class="img text-center">
              <img src="assets/img/Fit-App2.png" alt="Fit-App2">
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn-info form-control btns-selec" style="background-color:#6087FA;">
                  CONFIANZA EN MI
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn-info form-control btns-selec" style="background-color:#004AAD;">
                  MEJORAR SALUD
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn-info form-control btns-selec" style="background-color: #004AAD;">
                  LIBERAR ESTRES
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a class="btn btn form-control btns-selec" style="background-color: #6087FA; font-size: 11pt;">
                  AUMENTAR ENERGÍA
                </a>
              </div>
            </div>

        </div>
      </div>
      <div class="small-box col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <a  class="btn btn form-control" style="background-color: #6087FA;">ATRÁS</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <a  class="btn btn form-control" style="background-color: #FF3131;">SIGUIENTE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row" id="four">
      <h2 class="text-center" >OBJETIVO SEMANAL</h2>
      <div class="big-box">
        <div class="row text-center">
            <div class="img text-center">
              <img src="assets/img/Fit-App2.png" alt="Fit-App2">
            </div>
            <h3 class="text-center">DIAS DE ENTRENAMIENTO</h3>
            <div class="col-md-3">
              <div class="form-group">
                <input type="radio" class="btn-check" name="days" id="first-outlined" autocomplete="off">
                <label class="btn label-btn" for="first-outlined">1</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="radio" class="btn-check" name="days" id="second-outlined" autocomplete="off">
                <label class="btn label-btn" for="second-outlined">2</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="radio" class="btn-check " name="days" id="third-outlined" autocomplete="off">
                <label class="btn label-btn" name="days" for="third-outlined">3</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="radio" class="btn-check" name="days" id="four-outlined" autocomplete="off">
                <label class="btn label-btn" for="four-outlined" >4</label>
              </div>
            </div>
            </div>
            <div class="row text-center">
            <div class="col-md-3">
              <div class="form-group">
                <input type="radio" class="btn-check" name="days" id="five-outlined" autocomplete="off">
                <label class="btn label-btn" for="five-outlined" >5</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="radio" class="btn-check" name="days" id="six-outlined" autocomplete="off">
                <label class="btn label-btn" for="six-outlined" >6</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="radio" class="btn-check" name="days" id="seven-outlined" autocomplete="off">
                <label class="btn label-btn" for="seven-outlined">7
                </label>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-center" >
              <div class="col-md-12">
                <label for="descanso" class="">Día de descanso</label>
                <select name="descanso" id="descanso" class="form-control text-center">
                  <option value="Lunes">Lunes</option>
                  <option value="Martes">Martes</option>
                  <option value="Miercoles">Miercoles</option>
                  <option value="Jueves">Jueves</option>
                  <option value="Viernes">Viernes</option>
                  <option value="Sábado">Sábado</option>
                  <option value="Domingo">Domingo</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="small-box col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <a  class="btn btn form-control" style="background-color: #6087FA;">ATRÁS</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <a  class="btn btn form-control" style="background-color: #FF3131;">SIGUIENTE</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row" id="five">
        <h2 class="text-center">CUENTANOS SOBRE TI</h2>
        <div class="big-box">
          <div class="row text-center">
              <div class="img text-center">
                <img src="assets/img/Fit-App2.png" alt="Fit-App2">
              </div>
              <div class="row">
                <div class="col-md-8">
                    <label for="peso"><u>PESO (KG)</u></label>
                    <input type="text" name="peso" id="peso" class="form-control text-center">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                    <label for="estatura"><u>ALTURA (CM)</u></label>
                    <input type="text" name="estatura" id="estatura" class="form-control text-center">
                </div>
              </div>
          </div>
        </div>
        <div class="small-box col-md-9">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <a  class="btn btn form-control" style="background-color: #6087FA;">ATRÁS</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <a  class="btn btn form-control" style="background-color: #FF3131;">SIGUIENTE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
window.onload = function() {
  document.getElementById("first").style.display = "none";
};
</script>
