<div class="card">
  <div class="card-title">
  </div>
  <div class="card-body">
    <div class="big-box">
      <div class="img text-center">
        <img src="assets/img/Fit-App2.png" alt="Fit-App2">
      </div>
      <form action="">
        <div class="form-group">
          <h2 class="text-center"><b>INICIAR SESIÓN</b></h2>
          <div class="label text-center">
            <label for="email"><b>CORREO</b></label>
          </div>
            <input type="email" class="form-control" id="email" name="email">
          <div class="label text-center">
            <label for="password"><b>CONTRASEÑA</b></label>
          </div>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <p class="right">¿OLVIDÓ SU CONTRASEÑA?</p>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <a class="btn" id="btn-1" (click)="goTo('/home')"><b>INGRESAR</b></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <a href="" class="btn" id="btn-2"><b>CANCELAR</b></a>
              </div>
            </div>
        </div>
        <a class="super"><B>INGRESAR COMO SUPERUSUARIO</B></a>
      </form>
    </div>
  </div>
</div>
