<div class="card">
  <div class="card-body">
    <div class="big-box">
      <h2 class="text-center">REGISTRO DE USUARIO</h2>
      <form action="">

        <div class="label text-center">
          <label for="name"><B>NOMBRE</B></label>
        </div>
        <input type="text" name="name" id="name" class="form-control">
        <div class="label text-center">
          <label for="sexo"><B>CORREO</B></label>
        </div>
        <input type="text" name="sexo" id="sexo" class="form-control">
        <div class="label text-center">
          <label for="email"><B>CORREO</B></label>
        </div>
        <input type="email" name="email" id="email" class="form-control">
        <div class="label text-center">
          <label for="addres"><B>DIRECCIÓN</B></label>
        </div>
        <input type="text" name="addres" id="addres" class="form-control">
        <div class="label text-center">
          <label for="password"><B>CONTRASEÑA</B></label>
        </div>
        <input type="password" name="password id="password class="form-control">
        <div class=" text-center" id="label">
          <label for="password_confirmed"><B>CONFIRMAR CONTRASEÑA</B></label>
        </div>
        <input type="password" name="password_confirmed" id="password_confirmed" class="form-control">
        <div class="row text-center">
          <div class="col-md-6">
            <div class="form-group">
              <a class="btn" id="btn-1" (click)="goTo('/edit')"><b>CREAR</b></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <a href="" class="btn" id="btn-2" ><b>VOLVER</b></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
