*{
  margin: 0 auto;
}

body {
  display: grid;
  height: 70vh;
  border: 0px;
}
.content{
  width: 80vh;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #D9D9D9;
}

.card{
  margin: 20px;
  height: 250px;
  width: 225px;
  background-color: #D9D9D9;
  border: 0;
  /* justify-content: space-between ; */
}

.body-card{
  justify-items: center;
  width: 100%;
  background-color: #D9D9D9;
}


