<app-navbar></app-navbar>
<body>
  <a class="btn btn-premium btn-danger" (click)="goTo('/login')">HOME</a>

<div class="content">
  <div class="row">
    <div class="title text-center">
      <h4>Contenido
        <a><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a>
      </h4>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="img text-center">
          <img src="assets/img/Fit-App2.png" alt="Fit-App2" >
        </div>
        <div class="body-card">
          <h4><b>TODO EL CUERP0</b></h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="img text-center">
          <img src="assets/img/Fit-App2.png" alt="Fit-App2" >
        </div>
        <div class="body-card">
          <h4><b>BRAZO</b></h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="img text-center">
          <img src="assets/img/Fit-App2.png" alt="Fit-App2" >
        </div>
        <div class="body-card">
          <h4><b>ABDOMEN</b></h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="img text-center">
          <img src="assets/img/Fit-App2.png" alt="Fit-App2" >
        </div>
        <div class="body-card">
          <h4><b>PIERNA</b></h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="img text-center">
          <img src="assets/img/Fit-App2.png" alt="Fit-App2" >
        </div>
        <div class="body-card">
          <h4><b>BRAZO</b></h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="img text-center">
          <img src="assets/img/Fit-App2.png" alt="Fit-App2" >
        </div>
        <div class="body-card">
          <h4><b>TODO EL CUERPO</b></h4>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
